.speech{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}
.direction{
    font-family: 'Times New Roman';
    font-size: 16px;
    color: black;
    background-color:rgb(138, 245, 245);
}

.direction:hover{
    background-color: rgba(88, 88, 89, 0.048);
    color:rgb(241, 94, 94)
}
.Dr.Stockmann{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:royalblue;
}
.Hovstad{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:darkviolet;
}
.Morten{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
   color:crimson;
}
.Petra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:rgb(3, 41, 41);
}
.Peter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:darkgoldenrod;
}
.Mrs.Stockmann{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:coral;
}
.Billing{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:yellowgreen;
}
table,th,td{
    border: 1px solid;
    color: rgb(163, 9, 9);
    text-align: left;
    padding:0px;
    margin: 0px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}
tr:nth-child(even){
    background-color: rgb(175, 232, 149);
}
.Dr.Stockmann:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Morten:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Hovstad:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Peter:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Mrs.Stockmann:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Petra:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
.Billing:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8); /* Apply shadow with a red color and blur */
    border: 2px solid blue; /* Apply a blue border */
}
